
<div class="row my-row">
  <div class='col-sm-12 my-container'> 
    <h3>Editing Admin</h3><hr>

    <%= render 'form', admin: @admin %>

    <%= link_to 'Show', @admin %> |
    <%= link_to 'Back', admins_path %>
  </div>
</div>