$primary-color : #ff6666;
$primary-color-dark : #fd1b1b;
$primary-color-light : #ddaaaa;
$outline-btn : rgb(151, 151, 151);
$secondary-color : #eedddd	;
$background-color : rgb(226, 226, 226);

html{
  background-color: $background-color;
}

.toggle-btn{
  background-color: #ffffff00;
  border: 1px solid $outline-btn;
  z-index: 2;
  color: $outline-btn;
  font-size: xx-large;
  width: 50px;
  height: 40px;
  margin: 10px;
  &:hover{
    color: rgb(170, 170, 170);
    border: 1px solid rgb(201, 201, 201);
    background-color: #ff080800;
  }
  &:focus{
    outline: none;
  }
}

.sidebar{
  width: 300px;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #ddaaaa	;
  img{
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    margin: 50px auto;
  }
  ul{
    padding: 0 !important;

    li{
      list-style-type: none;
      margin:0;
      a{
        width: 100%;
        display: block;
        height: 50px;
        padding-top: 15px;
        color: rgb(66, 66, 66);
        font-size: large;
        &:hover{
          background-color: $primary-color;
          color: white;
          text-decoration: none;
        }
        
      }
      i{
        margin-left: 50px;
        width:30px;
      }
    }
  }
}

.my-navbar{
  background-color: $secondary-color;
  h3{
    display: inline;
    font-size: large;
  }
  span{
    float: right;
    margin: 18px;
    margin-right: 20px;
    img{
      width: 10px;;
    }
    a{
      color: black;
      &:hover{
        color: gray;
        text-decoration: none;
      }
    }
  }
}

.content{
  margin-left: 300px;
  background-color: $background-color;

  .my-row{
    .my-container{
      margin: 10px 0px;
      padding: 20px !important;
      background-color: white !important;
      box-shadow: 0 0 2px gray;
      overflow: auto;
    }
  }
  
}

@media screen and (max-width: 600px) {
  .sidebar{
    margin: -300px;
    height: auto;
  }
  .content{
    margin: 0;
  }
}

table{
  width: 100%;
  border: 1px solid rgb(192, 192, 192);
  thead{
    th{
      text-align: center;
      padding: 5px;
      padding-left: 1em;
      padding-right: 1em;
      border: 1px solid rgb(192, 192, 192);
      &:focus{
        background-color: $primary-color;
        color: white;
        outline: none;
      }
    }
  }
  tr{
    td{
      padding: 10px;
      padding-left: 1%;
      border: 1px solid rgb(226, 226, 226);
      img{
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
      }
      a{
        color: $primary-color !important;
      }
      
    }
  }
}

.number-align{
  text-align: center;
}

label{
  display: block !important;
}

input[type="email"],input[type="text"],input[type="password"],input[type="number"], select{
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(192, 192, 192);
}

input[type="submit"]{
  border: 1px solid $primary-color !important;
  background-color: $primary-color-light;
  border-radius: 3px;
  padding: 5px;
  color: #474747;
}
.center{
  margin: 0 auto;
}

#order_ordered_at_1i, #order_ordered_at_2i,
#order_ordered_at_3i, #order_ordered_at_4i,
#order_ordered_at_5i, #order_delivered_at_1i,
#order_delivered_at_2i,#order_delivered_at_3i,
#order_delivered_at_4i,#order_delivered_at_5i,
{
  width:100%;
  max-width: 100px;
  margin-bottom: 5px;
}

.order-status{

  p{
    margin-top: 3px !important;
    margin-bottom: 0 !important;
  }
  select, textarea{
    width: 200px !important;
    margin-left: 20px;  
    margin-bottom: 5px;
  }
  input{
    margin-left: 20px;
  }
}

.login{
  max-width: 400px !important;
  background-color: #ffcaca;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  img{
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 10px;
  }
  button{
    width: 100%;
  }
}
html{
  background-color: white;
}

.calendar-table{
  width: 100%;
  max-width: 1080px;
  background-color: white;
  margin: 10px auto;
  
  td{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
  }
}

.calendar-title{
    text-align: center;
  .month-title{
    font-size: 40px;
    color: $primary-color;
  }
}

.calendar-nav{
  width: 100%;
  max-width: 1080px;
  margin: 10px auto;
  .cn1{
    float: left;
  }
  .cn2{
    float: right;
  }

}

.search{
  display: inline-block !important;
  margin-left: 10px !important;
  margin-top: 10px !important;
  width: 600px;
  input{
    margin-top: -10px !important;
    max-width: 500px !important;
    width: 100% !important;
  }
  button{
    margin-top: -10px !important;
  }
}

.search-result{
  a{
    color: green !important;
    font-size: large
  }
}