// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form.customer-status{
  display: inline;
  select{
    width: 120px !important;
    margin-top: 2px;
    margin-bottom: 3px;
  } 
}
.status-span{
  margin-bottom: 3px !important;
}