// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-show-image{
  img{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.size-table{
  max-width: 200px;
  th, td{
    padding: 3px !important;
    border: 1px solid #dddddd
  }
}
