// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-show-image{  
  position: relative;
  cursor: pointer;

  img{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.size-table{
  width: 100%;
  max-width: 400px;
  th, td{
    padding: 3px !important;
    border: 1px solid #dddddd
  }
}

.image-zoom{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.548);
  width: 100%;
  height: 100%;
  img{
    display: block;
    margin: 40px auto;
    width: calc(100%/1.5);
    
  }
}

.hidden{
  display: none;
}

.product-image-hint{
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}