

<div class="row my-row">
  <div class='col-sm-12 my-container'> 
    <h1>New Category</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Back', categories_path %>    
    
  </div>
</div>