

<div class="row my-row">
  <div class='col-sm-12 my-container'> 
    <h1>Editing Product</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Show', @product %> |
    <%= link_to 'Back', products_path %>    
    
  </div>
</div>