
<div class="row my-row">
  <div class='col-sm-12 my-container'> 
    <h1>New Custom Cake Order</h1>

    <%= render 'form', custom_cake_order: @custom_cake_order %>

    <%= link_to 'Back', custom_cake_orders_path %>

  </div>
</div>