<div class="my-navbar">
  <h3>
    <%= render 'layouts/toggle_button' %>
    <%= controller_name.capitalize %>
  </h3>
  <span>
    <div class="dropdown show">
      <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Welcome Admin
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/admins/1">Profile</a>
        <%= link_to 'Logout', access_logout_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>

      </div>
    </div>  
  </span>

</div>